body {
  background-color: white
  
}
div {
  margin: 16%;
}


header div {
  
  padding-bottom: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
  
}

#logo {
  position: absolute;
  float: left;
}

.delicious {
  position: absolute;
  float: left;
  left: 5%;
}

.delicious h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
}

.delicious p {
  font-size: 10px;
}

.icons {
  position: absolute;
  float: right;
  right: 0px;
  top: 0px;
}

.chocolatePizza
{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 2em;
    margin-bottom: 0em;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.postedon
{
    margin-top: 0em;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.5em;
    opacity: 0.4;
}


.icons img:hover {
  color: blue;
}

#pint {
  margin-right: 5px;
}

hr {
  background-color: rgb(190, 189, 189);
  padding: .5%;
  margin: 16%;
  margin-top: 0px;
  margin-bottom: 0px;

}
h1 h2 {
  font-weight: bold;
}
.top {
  
  padding-top: 3%;
  padding-bottom: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 5%;
  
}

#print {
  float: right;
  right: 0px;
  bottom: 50px;

}

.chocolatepizzapicture {
  background-image: url('../img/choco-pizza.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  padding: 23%;
  margin-top: 0px;
  margin-bottom: 0%
}

.cookinginstructions {
  
  padding: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.cookinginstructions p {
  margin: 5%;
  text-indent: 2%;
}

.ingredients {
  
  background-image: url('../img/list-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 8%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  font-size: 1 em;
  font-family: 'Patrick Hand', cursive;
}

.listLeft {
  position:absolute;
  top: 2%;
  left: 0%;  
}

.listRight {
  position:absolute;
  top: 25%;
  left: 60%;
  
}

.ing label {
  display:block;
  margin-bottom: 0%;
}

.aboutme {
  
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.footer {

  padding: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

#profilephoto {
  position: absolute;
  float: left;
}

.aboutmetext {
  position: absolute;
  float: left;
  left: 15%;
}

 .aboutmeh2
 {
  margin-left: 5em;
  margin-top: 1em;
  margin-right: 2em;
    margin-bottom: .1em;
    float: left;
    font-weight: bold;
 }
 .aboutmep
{
    margin-left: 6.5em;
    margin-top: .2em;
    margin-right: 12em;
    font-weight: normal;
    float: left;
    font-size: 0.8em;
}


.sharerecipe
{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;


    font-family: 'IBM Plex Mono', monospace;
    block-size: 100%;
    letter-spacing: -0.1em;
    width: 9em;
    height: 3em;
    color: white;
    display: block;
    opacity: 1;
    background: #cf5e5e;
    margin-left: 43em;
    margin-top: -4em;
    float: right;
}


 .footer
{
    position: relative;
    margin-top: 8em;
    
    text-align: center;
    margin-left: 1.8em;
    font-size: .7em;
    
}


.bottomhr
{
    opacity: 0.3;
    position: absolute;
    width: 67%;
    margin-top: 6em;
    padding: .04%;
  
}

#footerLogo
{
    position: absolute;
    left: 50%;
    margin-top: -4.5em;
}